footer.container.py-5 
  .row
    .col-md-6 
        nav.nav.footer.justify-content-center.justify-content-md-start
            a.nav-link(href="/aboutUs") About Us  
            a.nav-link(href="/journeys") Journeys 
            a.nav-link(href="/testimonials") Testimonials
    .col
        p.copyright.text-center.text-md-right
            | &copy;All Rights Reserved  
            span= currentYear